In [9]:
#Primer database: BANK
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/gdrive')

%cd '/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV'
bank_dataset= pd.read_csv('Bank.csv',sep=',')

#print(df[['CLIENTNUM','Customer_Age','Gender']].head()) 

bank_dataset.info()
bank_dataset.describe()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

# Nueva secci√≥n

Primer database: BANK


Un gerente del banco est√° molesto porque cada vez m√°s clientes abandonan sus servicios de tarjeta de cr√©dito. El objetivo de este trabajo es poder predecir que usuarios van a querer abandonar, para que el banco puedan ir proactivamente al cliente a brindarle mejores servicios, y hacer que contin√∫en siendo sus clientes.


Diccionario de datos

- CLIENTNUM: N√∫mero de cliente. Identificador √∫nico del cliente titular de la cuenta
- Attrition_Flag: actividad del cliente, si la cuenta est√° cerrada, entonces 1 sino 0
- Customer_Age: Variable demogr√°fica - Edad del cliente en a√±os
- G√©nero: Variable demogr√°fica - M=Hombre, F=Mujer
- Dependent_count: Variable demogr√°fica, N√∫mero de dependientes
- Education_Level: Variable demogr√°fica, calificaci√≥n educativa del titular de la cuenta (ejemplo: escuela secundaria, graduado universitario, etc.)
- Marital_Status: Variable demogr√°fica, Casado, Soltero, Divorciado, Desconocido
- Categor√≠a de ingreso Variable demogr√°fica: Categor√≠a de ingreso anual del titular de la cuenta (< $40K, $40K - 60K, $60K - $80K, $80K-$120K, >
- Card_Category: Producto Variable, Tipo de Tarjeta (Azul, Plata, Oro, Platino)
- Monthsonbook: Per√≠odo de relaci√≥n con el banco
- TotalRelationshipcount: N√∫mero total de productos en poder del cliente
- MonthsInactive12_mon: N√∫mero de meses inactivos en los √∫ltimos 12 meses
- ContactsCount12_mon: N√∫mero de contactos en los √∫ltimos 12 meses
- Credit_Limit: L√≠mite de cr√©dito en la tarjeta de cr√©dito
- TotalRevolvingBal: Saldo total rotativo en la tarjeta de cr√©dito
- AvgOpenTo_Buy: L√≠nea de cr√©dito abierta para comprar (promedio de los √∫ltimos 12 meses)
- TotalAmtChngQ4Q1: Cambio en el monto de la transacci√≥n (Q4 sobre Q1)
- TotalTransAmt: Importe total de la transacci√≥n (√∫ltimos 12 meses)
- TotalTransCt: Recuento total de transacciones (√∫ltimos 12 meses)
- TotalCtChngQ4Q1: Cambio en el recuento de transacciones (Q4 sobre Q1)
- AvgUtilizationRatio: Promedio de uso de tarjeta
- NaiveBayesClassifier_attribution: Naive Bayes

Para predecir que caracter√≠sticas tienen los usuarios que tienen mayor probabilidad de abandonar los servicios de sus tarjetas de cr√©dito pueden ser √∫tiles los siguientes grupos de variables:
- Informaci√≥n demogr√°fica del usuario (Edad, genero, educaci√≥n, estado marital, sueldo)
- Informaci√≥n tipo de tarjeta de cr√©dito (l√≠mite de credito, tiempo registrado con el banco)
- Informaci√≥n del uso de la tarjeta de cr√©dito (total de transacciones, promedio de uso de tarjeta.)



Fuente: https://www.kaggle.com/datasets/whenamancodes/credit-card-customers-prediction

In [10]:
#Segundo database: CLIMBER
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/gdrive')

%cd '/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV'
climber_dataset= pd.read_csv('Climber.csv',sep=',')

climber_dataset.info()
climber_dataset.describe()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10927 entries, 0 to 10926
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user_id       10927 non-null  int64
 1   country       10927 non-null  object
 2   sex           10927 non-null  int64
 3   height        10927 non-null  int64
 4   weight        10927 non-null  int64
 5   age           10927 non-null  int64
 6   years_cl      10927 non-null  int64
 7   date_first    10927 non-null  object
 8   date_last     10927 non-null  object
 9   grades_count  10927 non-null  int64
 10  grades_first  10927 non-null  int64
 11  grades_last   10927 non-null  int64
 12  grades_max    10927 non-null  int64
 13  grades_mean   10927 non-null  float64
 14  year_first    10927 non-null  int64
 15  year_last     10927 non-null  int64
dtypes: float64(1), int64(12), object(3)
memory usage: 1.3+ MB

,user_id,sex,height,weight,age,years_cl,grades_count,grades_first,grades_last,grades_max,grades_mean,year_first,year_last
count,10927.00000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000,10927.000000
mean,29411.09774,0.125103,176.152009,67.608676,33.333852,12.672188,79.794546,45.648851,46.983802,53.764437,45.505055,2008.621946,2012.311613
std,18022.12695,0.330851,8.508669,9.677316,7.590989,6.108451,141.411297,9.478173,9.418087,9.679533,7.891356,28.833298,4.161484
min,1.00000,0.000000,137.000000,40.000000,12.000000,1.000000,1.000000,28.000000,28.000000,29.000000,28.500000,0.000000,1991.000000
25%,14651.00000,0.000000,171.000000,63.000000,28.000000,8.000000,8.000000,38.000000,40.000000,46.000000,39.400000,2006.000000,2009.000000
50%,27323.00000,0.000000,177.000000,68.000000,33.000000,12.000000,28.000000,46.000000,48.000000,55.000000,45.151899,2009.000000,2013.000000
75%,43240.50000,0.000000,182.000000,73.000000,38.000000,17.000000,90.000000,53.000000,53.000000,62.000000,51.210084,2012.000000,2016.000000
max,67020.00000,1.000000,202.000000,93.000000,69.000000,29.000000,2445.000000,75.000000,77.000000,77.000000,75.272727,2017.000000,2017.000000

Segundo database: CLIMBER


Dataset sobre escaladores teniendo en cuenta sus caracter√≠sticas como persona y las escaladas que ha realizado. Con este dataset se puede predecir si una persona con ciertas caracter√≠sticas es m√°s propicia a que suba monta√±as de mayor dificultad, y para entender que caracter√≠sticas influyen en este deporte. Estos datos podr√≠an servirle a una agencia de turismo, que se dedique a hacer escaladas, para tener en cuenta a sus clientes y saber acomodarlos en escaladas que est√©n acorde a su capacidad, para brindar un mejor servicio a sus clientes.

Diccionario de Datos:

- user_id: n√∫mero de identificaci√≥n de usuario
- sex: sexo
- height: altura
- weight: peso
- age: edad
- years_cl: a√±os escalando
- date_first: fecha de la primera ascensi√≥n
- date_last: fecha de la √∫ltima ascensi√≥n
- grades_count: n√∫mero de rutas realizadas por el escalador
- grades_first: grado de dificultad de la primera ascensi√≥n
-grades_last: grado de dificultad de la √∫ltima ascensi√≥n realizada
- grades_max: grado m√°ximo de dificultad realizado
- grades_mean: media de todas las ascenciones
- year_first: a√±o de la primera ascensi√≥n
- year_last: a√±o de la √∫ltima ascensi√≥n

Si se requiere investigar que caracter√≠sticas de una persona hacen que sea apta para escalar monta√±as de mayor dificultad. Por lo tanto, para esta base de datos se considera que todas de las variables son interesantes y ser√°n √∫tiles.  

Fuente:
https://www.kaggle.com/datasets/jordizar/climb-dataset

In [11]:
#Tercer database: AIRBNB
import pandas as pd
from google.colab import drive
import os
drive.mount('/content/gdrive')

%cd '/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV'
airbnb_dataset= pd.read_csv('Airbnb.csv',sep=',')

airbnb_dataset.info()
airbnb_dataset.describe()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/DATA_SCIENCE_LUCIA_TORRE/ARCHIVOS_CSV

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

Tercer database: AIRBNB


Se extrajo esta base de datos sobre la aplicaci√≥n Airbnb (Air Bed And Breakfast), utilizada para alojamiento en vacaciones y actividades tur√≠sticas.
Siendo esta informaci√≥n perteneciente a los alquileres situados en la ciudad de Nueva York, Estados Unidos.
Con esta base de datos se puede reportar a los altos ejecutivos de Airbnb en Nueva York, para brindarle informaci√≥n de donde est√°n los hospedajes m√°s solicitados o que tienen m√°s reviews, para seguir invirtiendo y focalizandose en esos lugares. Siguiendo el comportamiento de las personas se puede predecir cu√°les van a ser los hospedajes m√°s solicitados en el futuro, entonces esto puede dar mucha informaci√≥n de hacia donde orientar el mercado.


Diccionario de datos:
- id: n√∫mero de identificaci√≥n
- NAME: nombre del lugar para hospedarse
- host id: n√∫mero de identificaci√≥n del hospedador
- host_identity_verified: identificaci√≥n verificada del hospedador
- host name: nombre del hospedador
- neighbourhood group: grupo de barrio
- neighbourhood: barrio
- lat: latitud
- long: longitud
- country: pa√≠s
- country code: c√≥digo de pa√≠s
- instant_bookable: Se puede reservar instant√°neamente
- cancellation_policy: c√≥mo es la pol√≠tica de cancelaci√≥n
- room type: tipo de habitaci√≥n
- Construction year: a√±o en que fue constru√≠do el hospedaje
- price: precio
- service fee: tarifa de servicio
- minimum nights: m√≠nimo de noches requeridas para la reserva
- number of reviews: num√©ro de evaluaciones realizadas
- last review: √∫ltima evaluaci√≥n
- reviews per month: evaluaciones por mes
- review rate number: puntuaci√≥n dentro de las evaluaciones realizadas
- calculated host listings count: recuento calculado de listas de hospedadores
- availability 365: disponibilidad dentro de los 365 d√≠as del a√±o
- house_rules: reglas del hospedaje

Para predecir que caracter√≠sticas tienen los hospedajes que poseen m√°s visitas (reviews) pueden ser √∫tiles los siguientes grupos de variables:

- Informaci√≥n sobre el hospedador (Nombre, identidad verificada)
- Informaci√≥n sobre el hospedaje (Nombre, Tipo de habitaci√≥n, A√±o de construcci√≥n, Barrio, Grupo de Barrio, Latitud, Longitud, Precio, Tarifa de servicio, Pol√≠tica de cancelaci√≥n, M√≠nimo de noches)
- Informaci√≥n sobre las evaluaciones del cliente (Cantidad de evaluaciones, √öltima evaluaci√≥n realizada, Evaluaciones por mes, Puntuaci√≥n dentro de las evaluaciones realizadas.)


Fuente: https://www.kaggle.com/datasets/arianazmoudeh/airbnbopendata?resource=download